<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_commerce_user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.e_commerce_user.utils.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.e_commerce_user.ui.activity.DemoActivity"></activity>
        <activity android:name="com.example.e_commerce_user.ui.activity.LequidActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.BrandActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.ProductListActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.OverCatActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.SubCategoryActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.Address_EditActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.example.e_commerce_user.ui.activity.PaymentActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.Order_Summary_Activity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.ProfileActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.CartActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.ProductDetailActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.AddressActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.OrderDetailActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.OrdersActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.WishlistActivity" />
        <activity android:name="com.example.e_commerce_user.ui.activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.e_commerce_user.ui.activity.MainActivity" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://719781547994928:Qb5Tzym30pOHoc2gcpdvPnd69GA@dants4vbg" />
    </application>

</manifest>